
@{
    ViewBag.Title = "TopSoilDelivery";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="jumbotron" style="background-color:lightyellow">
        <h1>Custom Project</h1>
        <p class="lead">Have a project in mind already? Put together all the pieces and let us do the dirty work!</p>
    </div>

    <div class="col-md-4">
        <h2>Summer Hours</h2>
        <p>
            Monday	7:00am - 4:00pm<br />
            Tuesday	7:00am - 4:00pm<br />
            Wednesday	7:00am - 4:00pm<br />
            Thursday	7:00am - 4:00pm<br />
            Friday	7:00am - 4:00pm<br />
            Saturday	closed<br />
            Sunday	closed<br />
        </p>
        <h2>Spring/Fall Hours</h2>
        <p>
            Monday 7:00am - 4:00pm<br />
            Tuesday	7:00am - 4:00pm<br />
            Wednesday	7:00am - 4:00pm<br />
            Thursday	7:00am - 4:00pm<br />
            Friday	7:00am - 4:00pm<br />
            Saturday	closed<br />
            Sunday	closed<br />
        </p>
        <h2>Winter Hours</h2>
        <p>
            Monday	24/7<br />
            Tuesday	24/7<br />
            Wednesday	24/7<br />
            Thursday	24/7<br />
            Friday	24/7<br />
            Saturday	24/7<br />
            Sunday	24/7<br />
        </p>
    </div>

