@model JansenAndSixel.Models.AppointmentOpenWeatherMap

@{
    ViewBag.Title = "Create";
}

<style>
    #apiDiv {
        padding-left: 20px;
    }

        #apiDiv select, #apiDiv button {
            font-size: 25px;
        }

        #apiDiv h4 {
            margin: 10px 0;
        }

        #apiDiv #message table {
            width: 100%;
            border: double 1px #00ffff;
            background: #ff6a00;
        }

            #apiDiv #message table th {
                text-align: left;
                background: #4CAF50;
            }
</style>
<h1>Implement OpenWeatherMap API in ASP.NET MVC</h1>
@using (Html.BeginForm())
{<button id="reset" name="reset">Reset »</button>}
<div id="apiDiv">
    <h4>Select the City for Weather Report</h4>
    @using (Html.BeginForm())
    {
        foreach (var city in Model.cities)
        {
            <span>
                @Html.RadioButtonFor(m => m.cities, city.Value) @city.Key
            </span>
        }

        <button name="submit">Submit</button>
    }
    <div id="message">@(new HtmlString(Model.apiResponse))</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("input[id='cities']").change(function () {
            $(this).parents("#apiDiv").find("span").css("background", "none");
            $(this).parent().css("background", "#4CAF50");
        });
    });
</script>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },

                defaultView: 'agendaDay',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                events: [
                    {
                        title: 'Fertilize: Amanda Estates',
                        start: '2018-01-15',
                        end: '2018-1-16'
                    },
                {
                    title: 'Patio: Binellis',
                    start: '2018-01-08T07:00:00',
                    end: '2018-01-11'
                },
                {
                    title: 'Bed Mulching: Andersons',
                    start: '2018-01-17T07:00:00'
                },
                {
                    id: 999,
                    title: 'Snow Removal: Kwik Trip',
                    start: '2018-01-18T16:00:00'
                },
                {
                    id: 999,
                    title: 'Snow Removal: Kwik Trip',
                    start: '2018-01-25T16:00:00'
                },
                {
                    title: 'Tree Removal: Obamas',
                    start: '2018-01-29T12:00:00'
                }
                ]


            });
        });
    </script>
}


<div class="jumbotron" style="background-color:lightyellow">
    <h1>Calendar</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="calendar">

        </div>
    </div>
</div>

<div class="col-md-4">
    <h2>Set up an Appointment</h2>
    <p><a class="btn btn-primary" href="../Home/NewAppointment" target="_blank">Go &raquo;</a></p>
</div>


<current>
    <city id="2643741" name="City of London">
        <coord lon="-0.09" lat="51.51">
            <country>GB</country>
            <sun rise="2015-06-30T03:46:57" set="2015-06-30T20:21:12">
    </city>
    <temperature value="72.34" min="66.2" max="79.88" unit="fahrenheit" />
    <humidity value="43" unit="%">
        <pressure value="1020" unit="hPa">
            <wind>
                <speed value="7.78" name="Moderate breeze">
                    <direction value="140" code="SE" name="SouthEast">
            </wind>
            <clouds value="0" name="clear sky">
                <visibility value="10000">
                    <precipitation mode="no">
                        <weather number="800" value="Sky is Clear" icon="01d">
                            <lastupdate value="2015-06-30T08:36:14">
</current>




<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />