@model JansenAndSixel.Models.Appointment

@{
    ViewBag.Title = "Create";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },

                defaultView: 'agendaDay',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                events: [
                    {
                        title: 'Fertilize: Amanda Estates',
                        start: '2018-01-15',
                        end: '2018-1-16'
                    },
                {
                    title: 'Patio: Binellis',
                    start: '2018-01-08T07:00:00',
                    end: '2018-01-11'
                },
                {
                    title: 'Bed Mulching: Andersons',
                    start: '2018-01-17T07:00:00'
                },
                {
                    id: 999,
                    title: 'Snow Removal: Kwik Trip',
                    start: '2018-01-18T16:00:00'
                },
                {
                    id: 999,
                    title: 'Snow Removal: Kwik Trip',
                    start: '2018-01-25T16:00:00'
                },
                {
                    title: 'Tree Removal: Obamas',
                    start: '2018-01-29T12:00:00'
                }
                ]


            });
        });
    </script>
}


<div class="jumbotron" style="background-color:lightyellow">
    <h1>Calendar</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="calendar">

        </div>
    </div>
</div>

<div class="col-md-4">
    <h2>Set up an Appointment</h2>
    <p><a class="btn btn-primary" href="../Home/NewAppointment" target="_blank">Go &raquo;</a></p>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />