@{
    ViewBag.Title = "Contact";
}
<h2>Contact Details</h2>

<img src="~/Images/distanceMap.jpg" style="height:200px" width="400px" />

<address>
    2801 S 17th St<br />
    Sheboygan, Wisconsin 53081<br />
    <abbr title="Phone">P:</abbr>
    920-457-8800
</address>

<address>
    <strong>Email:</strong>   <a href=" dt@jansensixellandscapingllc.com"> dt@jansensixellandscapingllc.com</a><br />
</address>  