@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    <div class="jumbotron">
        <h1>Jansen & Sixel Landscaping</h1>
        <p class="lead">With over 25 years’ experience and a timely response we provide the best landscaping around</p>
        <p><a href="http://localhost:16455/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        <a href="https://www.facebook.com/Jansen-Sixel-Landscaping-LLC-637165906309026/">
            <img src="~/Images/FacebookLogo.png" title="Facebook" alt="additional title" style="height:50px" width="50px" target="_blank"/>
        </a>
        <a href="https://twitter.com/JansenSxlLndscp/">
            <img src="~/Images/TwitterLogo.png" title="Twitter" alt="additional title" style="height:50px" width="50px" target="_blank"/>
        </a>

        
    </div>

    <div class="row">
       
         <div class="col-md-4">
            <h2>Summer Hours</h2>
            <p>
                Monday	7:00am - 4:00pm<br />
                Tuesday	7:00am - 4:00pm<br />
                Wednesday	7:00am - 4:00pm<br />
                Thursday	7:00am - 4:00pm<br />
                Friday	7:00am - 4:00pm<br />
                Saturday	closed<br />
                Sunday	closed<br />
            </p>
            <h2>Spring/Fall Hours</h2>
            <p>
                Monday 7:00am - 4:00pm<br />
                Tuesday	7:00am - 4:00pm<br />
                Wednesday	7:00am - 4:00pm<br />
                Thursday	7:00am - 4:00pm<br />
                Friday	7:00am - 4:00pm<br />
                Saturday	closed<br />
                Sunday	closed<br />
            </p>
            <h2>Winter Hours</h2>
            <p>
                Monday	24/7<br />
                Tuesday	24/7<br />
                Wednesday	24/7<br />
                Thursday	24/7<br />
                Friday	24/7<br />
                Saturday	24/7<br />
                Sunday	24/7<br />
            </p>
        </div>

        <div class="col-md-4">
        <img src="~/Images/Patio69.jpg" style="height:400px" width="700px" />
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

            <div class="col-md-4">
                <h2>Photo Gallary</h2>
                <p>View Photos of our most recent projects</p>
                <p><a class="btn btn-primary" href="../Customers/PhotoGallary" >View &raquo;</a></p>
            </div>

            <div class="col-md-4">
                <h2>Create your own landscaping project!</h2>
                <p>Have a project in mind? Put together all the pieces and let us do the dirty work. </p>
                <p><a class="btn btn-primary" href="../Customers/CustomProject" >Create &raquo; </a></p>
            </div>
        
            <div class="col-md-4">
                <h2>Schedule a meeting today!</h2>
                <p>Get in touch with us for high quality, affordable landscaping, hardscaping,and property maintenance services that you can trust. </p>
                <p><a class="btn btn-primary" href="../Customers/Calendar" >Schedule &raquo; </a></p>
            </div>


        </div>

</body>
</html>




