
@{
    ViewBag.Title = "PhotoGallery";
}



<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="../Content/justifiedGallery.css" />

</head>

<body>
    <div class="jumbotron" style="background-color:lightyellow">
        <h1>Photo Gallery</h1>
        <p class="lead">Take a look through photos of our recent landscaping and construction work. We're proud of all the work we do here at Jansen & Sixel Landscaping LLC.</p>
    </div>

    <div id="myGallery" class="justified-gallery" style="height: 543.183px;">
        <a href="~/Images/BackYardRemodle.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Remodeled back yard" src="~/Images/BackYardRemodle.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Backyard.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Backyard" src="~/Images/Backyard.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/BackYardRemodle.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Backyard" src="~/Images/BackYardRemodle.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/AnotherPatio.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Patio" src="~/Images/AnotherPatio.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/BackyardView.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Backyard" src="~/Images/BackyardView.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Bed.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Bed" src="~/Images/Bed.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/BedPatio.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Bed Patio" src="~/Images/BedPatio.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Culvert.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Culvert" src="~/Images/Culvert.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Firepit.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Fire Pit" src="~/Images/Firepit.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Gardin.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Gardin" src="~/Images/Gardin.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/LittleBed.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Little Bed" src="~/Images/LittleBed.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Patio.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Patio" src="~/Images/Patio.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Patio1.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Patio" src="~/Images/Patio1.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Patio2.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Patio" src="~/Images/Patio2.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Patio3.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Patio" src="~/Images/Patio3.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Patio69.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Patio" src="~/Images/Patio69.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/PatioBed.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Patio Bed" src="~/Images/PatioBed.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Patio_Fireplace.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Patio Fireplace" src="~/Images/Patio_Fireplace.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Planting.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Planting" src="~/Images/Planting.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/RetainingWall.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Retaining Wall" src="~/Images/RetainingWall.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Walkway.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Walkway" src="~/Images/Walkway.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Walkway1.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Walkway" src="~/Images/Walkway1.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Walkway2.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Walkway" src="~/Images/Walkway2.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
        <a href="~/Images/Walkway_Wall.jpg" class="jg-entry entry-visible cboxElement" style="width: 191px; height: 137.986px; top:1px; left:1px;">
            <img alt="Walkway Wall" src="~/Images/Walkway_Wall.jpg" style="width:191px; height: 138px; margin-left: -95.5px; margin-top: -69px" />
        </a>
    </div>
    
    <script src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="../Scripts/jquery-justifiedGallery.js"></script>
    <script>
        $("#myGallery").justifiedGallery({
            rowHeight: 200,
            lastRow: 'nojustify',
            margins: 5
        });
    </script>
    
</body>






