
@{
    ViewBag.Title = "PhotoGallary";
}

<h1><center>Photo Gallary</center></h1>
<br />
<br />

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/Backyard.jpg" title="Backyard After" alt="additional title" style="height:400px" width="500px" />
    </div>
    
    <div class="col-md-4">
        <img src="~/Images/BackYardRemodle.jpg" title="Backyard After" alt="additional title" style="height:400px" width="500px" />
    </div>



    </div>