
@{
    ViewBag.Title = "PropertyMaintenance";
}
<div class="jumbotron" style="background-color:lightyellow">
    <h1>Property Maintenance</h1>
    <h2>LET US HELP MAINTAIN YOUR PROPERTY</h2>
    <p class="lead">From lawn upkeep to your yard cleanup we can do it all. When you use the maintenance services from Jansen & Sixel Landscaping LLC you'll always get the highest level of service that you'll find in the landscaping field. Get in touch with us to set up a property maintenance schedule</p>
</div>
<div class="row">

    <div class="col-md-4">
        <h2>Summer Hours</h2>
        <p>
            Monday	7:00am - 4:00pm<br />
            Tuesday	7:00am - 4:00pm<br />
            Wednesday	7:00am - 4:00pm<br />
            Thursday	7:00am - 4:00pm<br />
            Friday	7:00am - 4:00pm<br />
            Saturday	closed<br />
            Sunday	closed<br />
        </p>
        <h2>Spring/Fall Hours</h2>
        <p>
            Monday 7:00am - 4:00pm<br />
            Tuesday	7:00am - 4:00pm<br />
            Wednesday	7:00am - 4:00pm<br />
            Thursday	7:00am - 4:00pm<br />
            Friday	7:00am - 4:00pm<br />
            Saturday	closed<br />
            Sunday	closed<br />
        </p>
        <h2>Winter Hours</h2>
        <p>
            Monday	24/7<br />
            Tuesday	24/7<br />
            Wednesday	24/7<br />
            Thursday	24/7<br />
            Friday	24/7<br />
            Saturday	24/7<br />
            Sunday	24/7<br />
        </p>
    </div>

    <div class="col-md-4">
        <img src="~/Images/lawn-mowing.png" style="height:400px" width="700px" />
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <div class="col-md-4">
        <h2>Quality services that you can trust</h2>
        <p>
            <li>Five step fertilizing plan</li>
            <li>Seasonal clean-up</li>
            <li>Lawn mowing</li>
            <li>Garden upkeep</li>
            <li>Constant communication</li>
            <li>Action plans</li>
            <li>Licensed and insured</li>
            <li>Free quotes</li>
        </p>


    </div>
</div>