
@{
    ViewBag.Title = "SnowRemoval";
}

<div class="jumbotron" style="background-color:lightyellow">
    <h1>Snow Removal</h1>
    <h2>DON'T LET THE SNOW SLOW YOU DOWN</h2>
    <p class="lead">Don't let your business suffer because of an unplowed parking lot, or be late for work because you are snowed in. Give us a call to set up an appointment to have your snow cleared promptly we will keep your family safe from slips, trips and falls from ice or packed snow</p>
</div>
<div class="row">

    <div class="col-md-4">
        <h2>Summer Hours</h2>
        <p>
            Monday	7:00am - 4:00pm<br />
            Tuesday	7:00am - 4:00pm<br />
            Wednesday	7:00am - 4:00pm<br />
            Thursday	7:00am - 4:00pm<br />
            Friday	7:00am - 4:00pm<br />
            Saturday	closed<br />
            Sunday	closed<br />
        </p>
        <h2>Spring/Fall Hours</h2>
        <p>
            Monday 7:00am - 4:00pm<br />
            Tuesday	7:00am - 4:00pm<br />
            Wednesday	7:00am - 4:00pm<br />
            Thursday	7:00am - 4:00pm<br />
            Friday	7:00am - 4:00pm<br />
            Saturday	closed<br />
            Sunday	closed<br />
        </p>
        <h2>Winter Hours</h2>
        <p>
            Monday	24/7<br />
            Tuesday	24/7<br />
            Wednesday	24/7<br />
            Thursday	24/7<br />
            Friday	24/7<br />
            Saturday	24/7<br />
            Sunday	24/7<br />
        </p>
    </div>

    <div class="col-md-4">
        <img src="~/Images/snow-removal-banner.jpg" style="height:400px" width="700px" />
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <div class="col-md-4">
        <h2>Reliable snow removal services</h2>
        <p>
            <li>Parking lots</li>
            <li>Alleys</li>
            <li>Driveways</li>
            <li>Sidewalks</li>
            <li>Walkways</li>
            <li>Salting</li>
            <li>On-time</li>
            <li>Reliable</li>
            <li>Free estimate</li>
        </p>


    </div>
</div>